*{
    margin: 0;
    padding: 0;
}
.navi{
    width: 100%;
    height: 170px;
    font-weight: 900;
}
.upper-nav{
    width: 85%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
    
}
body{
    font-family: "Nunito Sans", sans-serif;

}
.logo{
    height: 29%;
}
.info1{
    width: 20%;
    height: 100%;
    display: flex;
    font-size: larger;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.info{
    width: 20%;
    height: 100%;
    display: flex;
    font-size: larger;
    align-items: center;
    gap: 15px;
}
.call{
    width: 10%;
    height: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.icons{
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    gap: 20px;
}
#currency{
    border: none;
    background:none;
}
.menu{
    width: 10%;
    height: 60px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;    
    font-weight: 700;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.menu a:hover{
    color: rgb(18, 170, 175);
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu li{
    list-style-type: none;
}
.empty{
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.suppp{
    font-weight: 100;
}
.home-prd{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235,235,235);
    margin-bottom: 60px;
}
.content{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.guide{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.eg-mail{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    border-radius: 20px;
    border: 1px solid rgb(234,234,235);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.eg{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    width: 95%;
    height: auto;
    margin-top: 90px;
    background-color: rgb(234,234,235);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.emoji{
    color: rgb(235,183,63);
    font-size: larger;
}
.forms{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.part-1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.input{
    background-color: white;
    width: 90%;
    border: 1px solid rgb(235,183,63);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.enter{
    height: 50px;
    border: none;
    outline: none;
}
.part-2{
    width: 98%;
    border: 1px solid rgb(235,183,63);
    display: flex;
    background-color: white;
    padding-top: 20px;
}
.txt-msg{
    width: 100%;
    height: 200px;
    border: none ;
    outline: none;
}
.frm-btn{
    font-size: larger;
    border-radius: 5px;
    border: none;
    width: 10%;
    height: 50px;
    color: white;
    background-color: rgb(235,183,63);
}
.frm-btn:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    border: 1px solid black;
}
.map{
    width: 100%;
    height: 550px;
    margin-top: 90px;
}
.location{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
footer{
    margin-top:90px ;
    width: 100%;
    height: 100vh;
    background-color: #fcf7eb;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.head{
    text-align: center;
    margin-top: 50px;
}
.desc{
    text-align: center;
}
.mail{
    width: 700px;
    height: 50px;
    font-size: 90px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(34, 30, 30);
    border-radius: 5px;
    align-items: center;
    margin: 0 auto;
}
.searchbox{
    width: 83%;
    height: 100%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
}
.searchbtn{
    width: 17%;
    height: 100%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:rgb(234,183,62) ;
    color: white;
    font-weight: 900;
}
.abt{
    width: 30%;
    height: 110%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.foot-para{
    justify-content: center;
    display: flex;
}
.links{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: end;
}
.f-tags{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.f-tags a:hover{
    color: rgb(238, 228, 110);
}
.f-tags li a{
    text-decoration: none;
    color: black;
}
.f-tags li{
    list-style-type: none;
}
.foot-icons{
    display: flex;
    align-items: center;
    height: 60px;
    width: 60%;
    justify-content: space-between;
}
.f-empty{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(246, 226, 177);
}
.end{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.menu-ic{
    display: none;
}