*{
    margin: 0;
    padding: 0;
}
.navi{
    width: 100%;
    height: 170px;
    font-weight: 900;
}
.upper-nav{
    width: 85%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
    
}
body{
    font-family: "Nunito Sans", sans-serif;

}
.logo{
    height: 29%;
}
.info1{
    width: 20%;
    height: 100%;
    display: flex;
    font-size: larger;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.info{
    width: 20%;
    height: 100%;
    display: flex;
    font-size: larger;
    align-items: center;
    gap: 15px;
}
.call{
    width: 10%;
    height: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.icons{
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    gap: 20px;
}
#currency{
    border: none;
    background:none;
}
.menu{
    width: 10%;
    height: 60px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;    
    font-weight: 700;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.menu a:hover{
    color: rgb(18, 170, 175);
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu li{
    list-style-type: none;
}

.bg{
    background-image: url(https://minimalin-demo.myshopify.com/cdn/shop/files/fashion-custom-slide-6_1920x.png?v=1695147484);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.content{
    width: 330px;
    height: 500px;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 800px;
    font-size: x-large;
    gap: 20px;
}
.shop{
    width: 40%;
    height: 40px;
    border: none;
    background-color: rgb(234,183,62);
    border-radius: 5px;
}
.emoji{
    height: 50px;
    width: 50px;
}
.suppp{
    font-weight: 100;
}
.sub-con{
    margin-top: 100px;
    margin-left: 35px;
    margin-right: 35px;
    height: 120px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
}
.product{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.button{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 15px;
    font-size: larger;
}
.btn-1{
    width: 110px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
}
.btn-2{
    width: 110px;
    height: 50px;
    border: none;
    color: black;
    border-radius: 7px;
}
.img-1{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.img-2{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    opacity: 0;
    position: absolute;
}
.product-2{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-3{
    font-size: xx-large;
    border-radius: 5px;
    border: none;
    height: 35px;
    background-color: white;
}
.btn-3:hover{
    background-color: rgb(235,183,63);
    color: white;
}

.in-icons{
    position: absolute;
    left: 80px;
    top: 180px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    opacity: 0;
}
.product-2:hover .in-icons{
    opacity: 1;
}
.product-2:hover .img-2{
    opacity: 1;
}
.grid-2{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.nh{
    display: flex;
    gap: 5px;
    position: absolute;
    top: 10px;
    right: 60px;
}
.new{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 60px;
}
.nw{
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
}
.sold{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: red;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 60px;
}
.btn-4{
    width: 110px;
    height: 50px;
    background-color: rgb(234, 182, 62);
    color: white;
    border: none;
    border-radius: 7px;
}
.bt{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.btn-4:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}
.sub-head{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    align-items: end;
}
.img-3{
    height: 100px;
    width: 100px;
    border-radius: 15px;
}
.product-3{
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #eaeaeb;
    border-radius: 15px;
}
.prd-link:hover{
    color: rgb(234, 182, 62);
}
.prd-link{
    text-decoration: none;
    color: black;
    list-style-type: none;
}
.prd-link{
    font-weight: bolder;
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px;
    gap: 30px;
}
.img-4{
    height: 250px;
    width: 250px;
    border-radius: 20px;
}
.product-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-weight: 800;
}
.product-4:hover{
    color: rgb(234, 182, 62);
}
.grid-4{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 100px auto;
}
.grid-5{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.emoji-2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.emoji-22{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.grid-6{
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    margin: 0 auto;
    gap: 35px;
}
.blog{
    width: 350px;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.blog-1{
    width: 350px;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.blog-img{
    width: 350px;
    height: 200px;
    border-radius: 20px;
}
.blog-link:hover{
    color: rgb(234, 182, 62);
}
.blog-link{
    text-decoration: none;
    color: black;
    list-style-type: none;
    display: flex;
    justify-content: left;
}
.blog-link{
    font-weight: bolder;
}
.blog-link2{
    text-decoration: none;
    color: rgb(234, 182, 62);
    list-style-type: none;
}
.blog-link2{
    font-weight: bolder;
}
.ig-id{
    display: flex;
    justify-content: center;
    width: 100%;
}
.ig-id a{
    text-decoration: none;
    color: black;
}
.ig-img{
    height: 250px;
    width: 250px;
    border-radius: 25px;
}
.ig-img-1{
    height: 250px;
    width: 250px;
    border-radius: 25px;
}
.ig-img-2{
    height: 250px;
    width: 250px;
    border-radius: 25px;
}
.grid-7{
    display: flex;
    gap: 30px;
    width: 90%;
    height: 300px;
    margin: 0 auto;

}
.footerr{
    width: 100%;
    height: 100vh;
    background-color: rgb(252,246,234);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.head{
    text-align: center;
    margin-top: 50px;
}
.desc{
    text-align: center;
}
.mail{
    width: 700px;
    height: 50px;
    font-size: 90px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(34, 30, 30);
    border-radius: 5px;
    align-items: center;
    margin: 0 auto;
}
.searchbox{
    width: 83%;
    height: 100%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
}
.searchbtn{
    width: 17%;
    height: 100%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:rgb(234,183,62) ;
    color: white;
    font-weight: 900;
}
.abt{
    width: 30%;
    height: 110%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.foot-para{
    justify-content: center;
    display: flex;
}
.links{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: end;
}
.f-tags{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.f-tags a:hover{
    color: rgb(238, 228, 110);
}
.f-tags li a{
    text-decoration: none;
    color: black;
}
.f-tags li{
    list-style-type: none;
}
.foot-icons{
    display: flex;
    align-items: center;
    height: 60px;
    width: 60%;
    justify-content: space-between;
}
.empty{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(246,226,177);
}
.end{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.menu-ic{
    display: none;
}
@media(max-width:1200px){
    .body{
        width: 100%;
    }
    .menu-ic{
        display: block;
    }
    .info{
        display: none;
    }
    #currency{
        display: none;
    }
    .logo{
        height: 50%;
    }
    .icons{
        width: 10%;
    }
    .lower-nav{
        display: none;
    }
    .navi{
        height: 120px;
    }
    .sub-con{
        width: 90%;
        margin: 30px auto;
        height: 200px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .bg{
        width: 100%;
        height: 350px;
    }
    .content{
        margin-left: 450px;
        height: 80%;
        font-size: medium;
    }
    .img{
        width:250px ;
        height: 250px;
    }
    .info1{
        width: 100%;
    }
    .grid-2{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .grid-3{
        height: 100%;
        grid-template-columns: repeat(2,1fr);
    }
    .grid-4{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .img-4{
        height: 300px;
        width: 300px;
    }
    .emoji-22{
        display: none;
    }
    .grid-5{
        width: 100%;
        grid-template-columns: repeat(4,1fr);
    }
    .emoji-2{
        width: 100%;
    }
    .blog-1{
        display: none;
    }
    .grid-6{
        width: 90%;
        grid-template-columns: repeat(2,1fr);
    }
    .ig-img-1{
        display: none;
    }
    .grid-7{
       justify-content: center;
    }
    .footerr{
        height: auto;
        font-size: small;
    }
}
@media(max-width:600px){
    .logo{
        height: 30%;
    }
    .icons{
        width: 15%;
    }
    .content{
        margin-left: 0;
        align-items: center;
        font-size: medium;
        width: 100%;
        justify-content: right;
        padding-top: 30px;
    }
    .bg{
        height: 70vh;
        width: 100%;
        background-size: cover;
        background-image: url(https://minimalin-demo.myshopify.com/cdn/shop/files/fashion-custom-slide-6-mobile_575x.png?v=1695453557);
    }
    .sub-con{
        grid-template-columns: repeat(1,1fr);
        width: 70%;
        justify-content: center;
        align-content: start;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .info1{
        justify-content: start;
        padding-left: 15px;
    }
    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grid-2{
        grid-template-columns: repeat(1,1fr);
    }
    .in-icons{
        left: 55px;
    }
    .grid-3{
        grid-template-columns: repeat(1,1fr);
    }
    .grid-4{
        grid-template-columns: repeat(1,1fr);
    }
    .grid-6{
        grid-template-columns: repeat(1,1fr);
    }.ig-img-2{
        display: none;
    }
    .footerr{
        width: 100%;
        height: 100%;
        font-size: large;
        justify-content: center;
        align-items: center;
    }
    .foot-para{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .links{
        margin-left: 25px;
        width: 100%;
        gap: 10px;
    }
    .abt{
        width: 90%;
        margin: 0 auto;
        gap: 10px;
    }
    .f-tags{
        width: 100%;
        gap: 10px;
    }
    .empty{
        height: 25px;
    }
    .mail{
        width: 350px;
        height: 40px;
    }
    .searchbtn{
        font-size: xx-small;
    }
}